.search-container{
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    border: 1px solid #c7c7d2;
    border-radius: 10px;
    padding: 0 10px;
}
.search-input{
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 14px;
    color: #555;
    background-color: transparent;
}
.search-icon{
    width: 15px;
    height: 15px;
}
.header-separator{
    height: 1px;
    background-color: #ddd;
    width: 2000px;
    margin: 0px 0;
    margin-top: 7px;
    margin-bottom: 0px;
}

/* Style for the container holding Men/Kids/Women links */
.category-links {
    /* Ensures the links are arranged in a row */
    display: flex; 
    align-items: center; /* Vertically aligns the links with the Popular text */
    /* Adds space between the Popular dropdown and the first new link */
    margin-left: 20px; 
    margin-top: 10px;
}

/* Style for the individual links */
.category-links a {
    /* Use padding to create space around the text */
    padding: 0 10px; 
    text-decoration: none;
    color: #343442; /* Use your preferred text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
}

.category-links a:hover {
    color: #570d48; /* Highlight color on hover */
}
.sq1{
     background-color: #a82c9c;
    height: 450px;
    width: 2000
    px;
    color: blanchedalmond;
    margin-top: 25px;
    position: relative;
    overflow: hidden;

}
.qr{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 460px;
}
.txtqr{
    font-size: 15px;
    color: orange;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 461px;
    top:280px;

}
.offer{
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 800px;
    top: 100px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-two{
    color: white;
    font-size: 35px;
    font-weight: 600;
    top: 170px;
    left: 800px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.box-1{
    background-color: white;
    height: 60px;
    width: 200px;
    position: absolute;
    top: 250px;
    left: 850px;
    border-radius: 10px;
}
.tib{
    color: #570d48;
    font-size: 20px;
    left: 900px;
    top: 265px;
    position: absolute;

}
.model{
    width: 200
    px;
    height: 260px;
    position: absolute;
}
.divider{
    height: 80px;
    width:2000px;
    background-color: #fcedf9;
    position: relative;
}
.divbox{
    height: 53px;
    position: absolute;
    width: 1240px;
    background-color:white;
    top: 15px;
    left: 20px;
    border-color: aqua;
    border: 1px solid #90257a;
    border-radius: 10px;

}
.txt1{
    color: black;
    position: absolute;
    font-size: 14px;
    top: 33px;
    left: 370px;
}
.txt2{
    color: black;
    position: absolute;
    font-size: 14px;
    top: 33px;
    left: 600px;
}
.txt3{
     color: black;
    position: absolute;
    font-size: 14px;
    top: 33px;
    left: 810px;
}